.main{
  width: 320px;
  margin:  100px auto;
}
.first1{
  background-color: #e2e2e2;
  padding: 10px;
  font-size: 35px;
  width: 295px;
  height: 45px;
  text-align: right;
  border: 3px solid #333;
  border-radius: 1rem 1rem 0 0;
}
.button{
  background-color: rgb(67, 18, 18);
  height: 80px;
  width: 80px;
  color: white;
  font-size: 30px;
  border: 1px solid black;
  float: left;
}
.button1{
  width: 160px;
}
body{
  background-color: rgb(142, 138, 138);
  background-image: url("./bg.jpg");
  background-repeat: no-repeat;
  background-size: 100rem 60rem;
}
